<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Forty Life</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/Images/CommanderSetIconMythicRare.png" width="30" height="30" alt="" />
                Forty Life
            </a>

            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li>
                        <form class="form-inline">
                            <input class="form-control mr-sm-2 border border-success bg-secondary text-white" type="search" placeholder="Card Name" aria-label="Card Name">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </li>
                    <li>
                        &nbsp;
                        <a href="#" class="btn btn-outline-warning my-2 my-sm-0">Advanced Search</a>
                    </li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="container body-content pt-3">
        @RenderBody()
        <hr />

        <footer>
            <p>&copy; 2016 - @DateTime.Now.Year Studio TM14 <span class="float-right">Forty Life is an <a href="https://git.tm14.net/mattn/FortyLife">open-source</a> project.</span></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
