@model FortyLife.App.Models.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title</h2>
<h4>Use an existing Forty Life account to log in, or <a href="/Account/Register">create an account for <i>free</i></a>!</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-outline-success" />
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="col-md-8">
        With a Forty Life account you can...

        <ul>
            <li>Create an unlimited amount of lists to track both your collections and your decks!</li>
            <li>Help users looking for feedback by providing yours.</li>
            <li>Gather your own feedback from other registered users.</li>
        </ul>

        Need help accessing your account?
        <ul>
            <li><a href="#">Forgot your password?</a></li>
            <li><a href="/Account/Activate">Need to activate your account?</a></li>
        </ul>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}