@using FortyLife.Core
@model FortyLife.App.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>
<h4>Create a new Forty Life account for <i>free</i>, or <a href="/Account/Login">log in using an existing account</a>.</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "registration-form", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.CheckBoxFor(m => m.AgreeToGuidelines)
                    I agree to adhere to the <a href="#">community guidelines</a>.
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-outline-success g-recaptcha">
                        Register
                    </button>
                </div>
            </div>

            <input type="hidden" id="g-recaptcha-data" name="g-recaptcha-data" />
        }
    </div>

    <div class="col-md-8">
        Register for a Forty Life Account

        <ul>
            <li>It is free to sign up for an account.</li>
            <li>We will never give away or sell your email address to anyone for any reason.</li>
            <li>We do not collect any other personal information.</li>
            <li>We do not track or log your activity on this site.</li>
            <li>We moderate users and content on this application according to a <a href="#">specific set of guidelines</a>.</li>
        </ul>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://www.google.com/recaptcha/api.js?render=@Secrets.GetRecaptchaClientKey()"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@Secrets.GetRecaptchaClientKey()', { action: 'Register' }).then(function (token) {
                document.getElementById("g-recaptcha-data").value = token;
            });
        });
    </script>
}
