@using FortyLife.DataAccess
@using FortyLife.DataAccess.TCGPlayer
@model FortyLife.DataAccess.Scryfall.Card

@{
    var requestEngine = new TcgPlayerRequestEngine();
    var marketPrice = requestEngine.CardPriceRequest(Model.Name, Model.SetName);
    var price = new Price();
    var foilPrice = new Price();
    var errorGettingPricing = false;

    if (marketPrice != null)
    {
        price = marketPrice.Results.First(i => i.SubTypeName == "Normal");
        foilPrice = marketPrice.Results.First(i => i.SubTypeName == "Foil");
    }
    else
    {
        errorGettingPricing = true;
    }
}

<div class="card border-success">
    <div class="card-header">
        <span class="oi oi-dollar"></span> TCG Player

        @if (!errorGettingPricing)
        {
            <span class="float-right"><a href="@requestEngine.GetTcgPlayerUrl(Model.Name, Model.SetName)"><span class="oi oi-cart"></span> Purchase</a></span>
        }
    </div>

    <div class="card-body">
        @if (!errorGettingPricing)
        {
            <div class="row">
                <div class="col-md-4 text-center">
                    Low
                </div>
                <div class="col-md-4 text-center">
                    Mid
                </div>
                <div class="col-md-4 text-center">
                    High
                </div>
            </div>

            <div>
                @if (price.LowPrice.HasValue || price.MidPrice.HasValue || price.HighPrice.HasValue)
                {
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <span class="text-muted">@(price.LowPrice.HasValue ? price.LowPrice.Value.ToString("C") : "-")</span>
                        </div>
                        <div class="col-md-4 text-center">
                            <span class="text-success lead">@(price.MidPrice.HasValue ? price.MidPrice.Value.ToString("C") : "-")</span>
                        </div>
                        <div class="col-md-4 text-center">
                            <span class="text-danger">@(price.HighPrice.HasValue ? price.HighPrice.Value.ToString("C") : "-")</span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="text-center text-muted">
                        This card has no pricing data for non-foil printings from this set.
                    </div>
                }

                @if (foilPrice.LowPrice.HasValue || foilPrice.MidPrice.HasValue || foilPrice.HighPrice.HasValue)
                {
                    <div class="row small color-text-flow">
                        <div class="col-md-4 text-center">
                            <span class="rainbow-text">@(foilPrice.LowPrice.HasValue ? foilPrice.LowPrice.Value.ToString("C") : "-")</span>
                        </div>
                        <div class="col-md-4 text-center">
                            <span class="rainbow-text">@(foilPrice.MidPrice.HasValue ? foilPrice.MidPrice.Value.ToString("C") : "-")</span>
                        </div>
                        <div class="col-md-4 text-center">
                            <span class="rainbow-text">@(foilPrice.HighPrice.HasValue ? foilPrice.HighPrice.Value.ToString("C") : "-")</span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="text-center text-muted small">
                        This card has no pricing data for foil printings from this set.
                    </div>
                }
            </div>
        }
        else
        {
            <div class="text-center text-muted">
                Error getting pricing data for this card from this set.
            </div>
        }
    </div>

    @if (!errorGettingPricing)
    {
        <div class="card-footer bg-active">
            <span class="small color-text-flow float-right" data-toggle="tooltip" data-placement="top" title="Foil prices are highlighted in rainbow.">
                <i class="ss ss-htr"></i> <span class="ranbow-text">Foil</span>
            </span>
        </div>
    }
</div>