@using FortyLife.Core
@model FortyLife.Models.SearchResultsViewMovel

@{
    ViewBag.Title = "Results";
}

<div>
    <p>
        <i>Searching card names for "@Model.NameSearch" yielded @Model.Results.TotalCards results.</i>
    </p>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Mana Cost</th>
                <th>Color</th>
                <th>Color Identity</th>
                <th>Type</th>
                <th>Latest Set</th>
                <th>Rarity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cardResult in Model.Results.Data)
            {
                <tr>
                    <td>@cardResult.Name</td>
                    <td>@Html.Raw(CardDataFormatter.RenderSymbols(cardResult.ManaCost))</td>
                    <td>@Html.Raw(CardDataFormatter.RenderColorWheel(cardResult.Colors))</td>
                    <td>@Html.Raw(CardDataFormatter.RenderColorWheel(cardResult.ColorIdentity))</td>
                    <td>@Html.Raw(CardDataFormatter.CardType(cardResult.TypeLine))</td>
                    <td>@cardResult.SetName</td>
                    <td>@cardResult.Rarity</td>
                </tr>
            }
        </tbody>
    </table>
</div>